doctype html
html(lang='en')
 head
   title Parking Experiment
 body
   h1 Probability Data
   form(action="/trend", method="post") 
        -let days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
        select(name="dayDropdown", id="dayDropdown" class = "btn-success dropdown-toggle")
            each day in days
                option=day

        -let hours = ['Hour1','Hour2','Hour3','Hour4','Hour5','Hour6','Hour7','Hour8','Hour9','Hour10','Hour11','Hour12','Hour13','Hour14','Hour15','Hour16','Hour17','Hour18','Hour19','Hour20','Hour21','Hour22','Hour23','Hour24']
        select(name="hourDropdown", id="hourDropdown" class = "btn-success dropdown-toggle")
            each hour in hours
                option=hour

        button(type="submit", id="submitButton") Submit
br

div#back
  div#display
    span#block1
    span#block2
    span#block3
    span#block4
    span#areaA A
    span#areaB B
    span#areaC C
    div#areaD 
    span#areaDText D
    div#areaE 
    span#areaEText E
    div#areaF 
    span#areaFText F       
    span.space(id='Park1') #{Math.round(100 -trendPark.Park001)}%
    span.space(id='Park2') #{Math.round(100- trendPark.Park002)}%
    span.space(id='Park3') #{Math.round(100- trendPark.Park003)}% 
    span.space(id='Park4') #{Math.round(100- trendPark.Park004)}%
    span.space(id='Park5') #{Math.round(100- trendPark.Park005)}%
    span.space(id='Park6') #{Math.round(100- trendPark.Park006)}%
    span.space(id='Park7') #{Math.round(100- trendPark.Park007)}%
    span.space(id='Park8') #{Math.round(100- trendPark.Park008)}%
    span.space(id='Park9') #{Math.round(100- trendPark.Park009)}%
    span.space(id='Park10') #{Math.round(100- trendPark.Park010)}%
    span.space(id='Park11') #{Math.round(100- trendPark.Park011)}%
    span.space(id='Park12') #{Math.round(100- trendPark.Park012)}%
    span.space(id='Park13') #{Math.round(100- trendPark.Park013)}%
    span.space(id='Park14') #{Math.round(100- trendPark.Park014)}%
    span.space(id='Park15') #{Math.round(100- trendPark.Park015)}%
    span.space(id='Park16') #{Math.round(100- trendPark.Park016)}%
    span.space(id='Park17') #{Math.round(100- trendPark.Park017)}%
    span.space(id='Park18') #{Math.round(100- trendPark.Park018)}%
    span.space(id='Park19') #{Math.round(100- trendPark.Park019)}%
    span.space(id='Park20') #{Math.round(100- trendPark.Park020)}%

    div#colourGreen
    span#legendGreen Likely Available
    div#colourOrange
    span#legendOrange Possibly Available
    div#colourRed
    span#legendRed Rarely Available

footer
    p See these links for more Smart Carpark Features!!  
      a#trend(href= "/") Real Time Carspace Display            
      a#book(href= "/Book")  Carspace Booking
      br
      br
      span Proudly Engineered By Sebastian Aslan

style 
      include style/trend.css

script.
        //display default values
        let trendPark= !{JSON.stringify(trendPark)};
        document.getElementById('dayDropdown').value = trendPark.Day;
        document.getElementById('hourDropdown').value = "Hour"+ trendPark.Hour;
        let spotCount; 
        //loop for number of car spots (20)
        for (spotCount=1; spotCount<=20; ++spotCount){
          let currentPark = trendPark['Park0' + String(spotCount).padStart(2,'0')]; 
          
          if(currentPark<=33.3){
            document.getElementById('Park' + spotCount).style["background-color"]= "limegreen";
          }
          else if(currentPark<=66.6){
            document.getElementById('Park' + spotCount).style["background-color"]= "orange";
          }
          else 
            document.getElementById('Park' + spotCount).style["background-color"]= "red";
            }