doctype html
html(lang='en')
 head
   title Parking Experiment
 body
   h1 Yo Wassup Let's see some trends
   form(action="/trend", method="post") 
        -let days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
        select(name="dayDropdown", id="dayDropdown" class = "btn-success dropdown-toggle")
            each day in days
                option=day

        -let hours = ['Hour1','Hour2','Hour3','Hour4','Hour5','Hour6','Hour7','Hour8','Hour9','Hour10','Hour11','Hour12','Hour13','Hour14','Hour15','Hour16','Hour17','Hour18','Hour19','Hour20','Hour21','Hour22','Hour23','Hour24']
        select(name="hourDropdown", id="hourDropdown" class = "btn-success dropdown-toggle")
            each hour in hours
                option=hour

        button(type="submit", id="submitButton") Submit
br

script.
        //display default values
        let trendPark= !{JSON.stringify(trendPark)};
        document.getElementById('dayDropdown').value = trendPark.Day;
        document.getElementById('hourDropdown').value = "Hour"+ trendPark.Hour;


        
    

div       
  thead
    tr 
    th Park Spot  
    th Percentage Occupied
      br
  tbody
    tr 
      td Park001   
      td 
        span(id='data1') #{trendPark.Park001} 
        br 
    tr 
      td Park002 
      td
        span(id='data2') #{trendPark.Park002} 
        br
    tr 
      td Park003
      td
        span(id='data3')  #{trendPark.Park003} 
        br
    tr 
      td Park004   
      td
        span(id='data4') #{trendPark.Park004} 
        br
    tr 
      td Park005
      td
        span(id='data5')  #{trendPark.Park005} 
        br
    tr 
      td Park006  
      td
        span(id='data6') #{trendPark.Park006} 
        br
    tr 
      td Park007   
      td
        span(id='data7') #{trendPark.Park007} 
        br
    tr 
      td Park008 
      td
        span(id='data8') #{trendPark.Park008} 
        br
    tr 
      td Park009 
      td
        span(id='data9') #{trendPark.Park009} 
        br
    tr 
      td Park010  
      td
        span(id='data10') #{trendPark.Park010} 
        br
    tr 
      td Park011  
      td
        span(id='data11') #{trendPark.Park011} 
        br
    tr 
      td Park012
      td
        span(id='data12')  #{trendPark.Park012} 
        br
    tr 
      td Park013 
      td
        span(id='data13') #{trendPark.Park013} 
        br
    tr 
      td Park014 
      td
        span(id='data14') #{trendPark.Park014} 
        br
    tr 
      td Park015   
      td
        span(id='data15') #{trendPark.Park015} 
        br
    tr 
      td Park016 
      td
        span(id='data16') #{trendPark.Park016} 
        br
    tr 
      td Park017
      td
        span(id='data17')  #{trendPark.Park017} 
        br
    tr 
      td Park018   
      td
        span(id='data18') #{trendPark.Park018} 
        br
    tr 
      td Park019  
      td
        span(id='data19') #{trendPark.Park019} 
        br
    tr 
      td Park020  
      td
        span(id='data20') #{trendPark.Park020} 
        br